/* utility classes */
:root {
  --primary-color: #f3f6ec;
  --secondary-color: #59523e;

  --primary-color-transparent:rgba(243, 246, 236, .4);
  --secondary-color-transparent: rgba(89, 82, 62, .2);

  --bg-pic: url(./Images/sunny-bg.jpg);
}

.cloudy-theme {
  --primary-color: #DCE4F2;
  --seconday-color: #152B59;

  --primary-color-transparent: rgba(220, 228, 242, .4);
  --secondary-color-transparent: rgba(21, 43, 89, .2);

  --bg-pic: url(./Images/cloudy-bg.jpg);
}

.rainy-theme {
  --primary-color: #e7fbfb;
  --secondary-color: #142423;

  --primary-color-transparent: rgba(231, 251, 251, .4);
  --secondary-color-transparent: rgba(21, 37, 36, .2);

  --bg-pic: url(./Images/rain-bg.jpg);
}

.montserrat-300 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.montserrat-400 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.montserrat-500 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border:0;
}

/* main page style */
* {
  box-sizing: border-box;
}

body {
  font-weight: 10px;
  font-style: normal;
  font-size: 10px;
  line-height: 1.5;
  color: var(--seconday-color);
  background-color: var(--primary-color);
  box-sizing: border-box;
  margin: 0px;
}

/* navigation style */
header {
  display: flex;
  float: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 20px;
  background-color: var(--primary-color);
  background-position: center;
}

button {
  height: 30px;
  text-align: center;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 2px;
}

h1 {
  font-size: 70px;
  color: var(--secondary-color);
}

/* LAUREN: disregard this if you're doing bootstrap for the hamburger menu*/
/* .title-mobile {
  font-size: 50px;
}

.icon-hamburger,
.icon-close {
  height: 40px;
  width: 40px;
}

.menu-nav-toggle{
  cursor: pointer;
}

.menu-nav-toggle,
.icon-close {
  display: none;
} */


/* weather section */
.weather {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 20px;
  height: 450px;
  margin-left: 1%;
  margin-right: 1%;
  background-image: var(--bg-pic);
  background-position: center;
}

.current-weather {
  background-color: var(--primary-color-transparent);
  margin: 5%;
  text-align: center;
  height: 60%;
  width: 50%;
}

.current-location {
  font-size: 40px;
  padding-top: 20px;
}

.current-temp {
  font-size: 30px;
}


/* music section */
.playlist-title {
  text-align: center;
  font-size: 45px;
  margin-top: 5%;
}

.song-display {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5%;
}

.song-display-col-1,
.song-display-col-2,
.song-display-col-3 {
  padding-left:40px;
  padding-right:40px;
  padding-top:10px;
  font-size: 20px;
  background-color: var(--secondary-color-transparent);
}


/*footer */
footer {
  text-align: center;
  font-size: 14px;
}


/* mobile modifications */
@media screen and (max-width <=900px) {
 
}